{% extends 'base.html' %}

{% block title %}抽獎活動{% endblock %}

{% block content %}
<h1>選擇活動進行抽獎</h1>
<form action="{% url 'draw_winners' %}" method="post">
    {% csrf_token %}
    <label for="event">選擇活動：</label>
    <select name="event_id" id="event">
        {% for event in events %}
            <option value="{{ event.id }}">{{ event.name }}</option>
        {% endfor %}
    </select>

    <label for="numWinners">請輸入抽獎人數：</label>
    <input type="number" name="num_winners" id="numWinners" min="1" required>

    <button type="submit">開始抽獎</button>
</form>
{% endblock %}
